*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Gayathri', sans-serif;
	text-shadow: 2px 2px 15px black;
	background:
		linear-gradient(
			rgba(246, 93, 191, 5),
			rgba(240, 52, 144, 5)
			),
}

	

.home{
	background-color: white;
	background: url(../images/12.jpeg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 1.5rem;

}

.home > div > h1{
	color: white;
	letter-spacing: 5px;
	font-size: 6rem;
}

.btn{
	background-color: #ff80aa;
	color: white;
	border-style: none;
	padding: 10px 30px;
	border-radius: 20px;
	transition: .4s;
	margin-top: 30px;
	letter-spacing: 3px;
}

.btn:hover{
	background-color: salmon;

}

.about{
	height: 100vh;
	background-color: white;
	display: flex;
	background: url(../images/7.jpeg);
	background-position: center;
	background-size: cover;

}

.left{
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 3rem;
	font-family: 'Gayathri', sans-serif;
	color: white;
	font-size: 1.25rem;
	letter-spacing: 3px;
}

.right{
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem;
	color: white;
}

.right > div > img{
	width: 200px;
	height: 200px;
	margin: auto;
	display: block;
}

.qoute{
	padding: 3rem;
	font-size: 1.5rem
	letter-spacing: 5px;
}

.blog{
	height: 100vh;
	background-color: white;
	display: flex;
	background: url(../images/123.jpeg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}


.blog > div > img {
	border-radius: 50%;
	opacity: .50srem;

}

.want{
	padding: 3rem;
	font-size: 1.5rem
}

.photos{
	height: 100vh;
	background: url(../images/6.jpeg);
	background-position: center;
	background-size: cover;
	color: white;
	text-align: center;	
}

.letters{
	display: flex;
	justify-content: center;
	align-items: center;
}

.letters > h1{
	margin-top: 150px;
	font-size: 3rem;
}

.pics{
	object-fit: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

.pics > img{
	width: 200px;
	height: 200px;
	padding: .15rem;
	border-radius: 20%;
}

.pics > img:hover{
	transform: scale(1.5);
	transition: .6s;
}

.fill{
	text-align: center;
	height: 100vh;
	background: url(../images/8.jpeg);
	background-position: center;
	background-size: cover;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;

}

.box{

	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 3rem;
}

.box > form{
	height: 60vh;
	width: 80%
}

form > h4{
	font-size: 50px;
	text-align: center;
	margin: 10px;
}

input{
	display: block;
	margin: 10px auto;
	height: 20px;
	width: 250px;
	font-family: 'Gayathri', sans-serif;
	border-radius: 10px;
	

}

textarea{
	display: block;
	margin: 10px auto;
	height: 100px;
	width: 250px;
	font-family: 'Gayathri', sans-serif;
	border-radius: 10px;
}

.thank{
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 3rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff99bb;
  position: sticky;
  top: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

